In [1]:
import pandas as pd

In [2]:
input_cluster = 'https://github.com/Kinrider/tech_challenge_5/raw/refs/heads/main/01_fontes/arquivos_decision/fontes_tratadas/02_candidatos_tratados.parquet'

df = pd.read_parquet(input_cluster)

In [3]:
df.head()

,id_candidato,data_atualizacao,data_criacao,meses_desde_criacao,meses_desde_atualizacao,faixa_criacao,faixa_atualizacao,remuneracao,remuneracao_mensal_brl,remuneracao_zscore,faixa_remuneracao,objetivo_profissional,categoria_profissional,subarea_profissional,nivel_hierarquico,tempo_experiencia_anos,quantidade_experiencias,nivel_educacional,nivel_educacional_consolidado,experiencia_sap
0,31000,2021-10-11 07:29:49,2021-10-11 07:29:49,45.0,45.0,+3 anos,+3 anos,,NaN,NaN,NaN,,Jurídico,Vendas,Estagiário,8.0,8,ensino superior,não identificado,True
1,31001,2021-11-11 11:10:31,2021-10-11 08:56:16,45.0,44.0,+3 anos,+3 anos,1900,1900.0,-0.048530,Muito Baixa,Analista Administrativo,Consultoria / Projetos,Engenharia de Dados,Analista,8.0,0,superior incompleto,ensino médio,False
2,31002,2021-10-11 11:42:36,2021-10-11 09:01:00,45.0,45.0,+3 anos,+3 anos,"2.500,00",3795.0,-0.028021,Muito Baixa,Administrativo | Financeiro,Financeiro / Contábil,Contabilidade,Diretor,13.0,5,ensino superior,não identificado,True
3,31003,2021-10-11 16:04:51,2021-10-11 09:08:13,45.0,45.0,+3 anos,+3 anos,"1100,00",1100.0,-0.057187,Muito Baixa,Área administrativa,Logística / Suprimentos,Gestão de Produtos,Estagiário,14.0,6,superior incompleto,ensino médio,False
4,31004,2021-10-11 09:22:03,2021-10-11 09:18:46,45.0,45.0,+3 anos,+3 anos,,NaN,NaN,NaN,,Jurídico,Vendas,Estagiário,19.0,2,ensino superior,não identificado,False

In [4]:
df_filtrado = df[["remuneracao_mensal_brl"]]

In [7]:
Caminho = "C:\\Users\\pedro\\Documents\\Área de Trabalho\\tech_challenge_5\\01_fontes\\arquivos_decision\\fontes_tratadas\\"

df_filtrado.to_parquet(Caminho + "remuneracao_mensal_only.parquet", index=False)